.banner {
    display: flex;
    justify-content: center;
    max-width: 100%;

}

.header-image {
    width: 100%;
}

.scroll-container {
    background-color: #444444;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    align-items: center;
}
  
.scroll-container img {
    padding: 10px;
}

@media (max-width: 768px) {
    .scroll-container img {
        height: 200px;
    }
}

.scroll-image:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(68,68,68,0.9);
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.5s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.modal .prev,
.modal .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    font-weight: bold;
    user-select: none;
    transition: color 0.3s;
    transform: translateY(-50%);
    background: none;
    border: none;
}

.modal .prev {
    left: 10px;
}

.modal .next {
    right: 10px;
}

.modal .prev:hover,
.modal .next:hover {
    color: #bbb;
}

.scroll-container::-webkit-scrollbar {
    width: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}

.image-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

.image-grid-row {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.image-grid-column {
    position: relative;
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .image-grid-row {
        flex-direction: column;
    }

    .image-grid-column {
        flex: none;
        max-width: 100%;
        padding: 5px 0;
    }
}

.image-grid-column:hover img {
    opacity: 0.5;
}

.image-grid-row img {
    max-width: 100%;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 820px) {
    .image-text {
        font-size: 20px;
    }
}

.text-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .text-image-container {
        flex-direction: column;
    }
}

.image-wrapper {
    width: 30%;
    position: relative;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.text-image-container:nth-child(even) .text {
    order: 2;
}

.text-image-container:nth-child(odd) .image-wrapper {
    order: 2;
}

.image-wrapper.left {
    margin-right: 20px;
}

.image-wrapper.right {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .text-image-container .image-wrapper {
        order: 1;
        margin: 0 0 10px 0;
        width: 100%;
    }

    .text-image-container .text-to-image {
        order: 2;
        margin: 0;
    }

    .text-to-image {
        width: 100%;
        padding: 0;
    }
}

